<article class="row">
    <section class="col-lg-offset-4 col-lg-4 col-md-offset-4 col-md-4 col-sm-offset-4 col-sm-4">
        <form>
            <label for="start-point">Start point: </label>
            <input type="text" name="start-point" class="form-control"
                placeholder="Start point..." ng-model="homeRoute.route.start" ng-disabled="homeRoute.route.searching"/>
            <label for="end-point">End point: </label>
            <input type="text" name="end-point" class="form-control"
                placeholder="End point..." ng-model="homeRoute.route.end" ng-disabled="homeRoute.route.searching" />
            <br/>
            <button class="btn btn-primary" ng-disabled="homeRoute.route.searching"
                ng-click="homeRoute.searchRoute(homeRoute.route); homeRoute.routeDetails();">
                {{ !homeRoute.route.searching ? 'FIND ROUTE' : 'SEARCHING..' }}
            </button>
        </form>
    </section>
    <section class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8">
        <div class="row" ng-repeat="route in homeRoute.routes track by $index">
            <div>
                <label for="start-point">Start point: </label><span>{{route.start}}</span>
                <label for="end-point">End point: </label><span>{{route.end}}</span>
            </div>

            <div>
                <label for="distance">Destination: </label><span>{{route.distance}}</span>
                <label for="duration">Time: </label><span>{{route.duration}}</span>
            </div>
            <button class="btn btn-danger" ng-click="homeRoute.removeRoute(route)">REMOVE ROUTE</button>
        </div>
    </section>
</article>