<article class="row">
    <section class="col-lg-offset-4 col-lg-4 col-md-offset-4 col-md-4 col-sm-offset-4 col-sm-4">
        <form>
            <label for="start-point">Start point: </label>
            <input type="text" name="start-point" class="form-control" placeholder="Start point..." />
            <label for="end-point">End point: </label>
            <input type="text" name="end-point" class="form-control" placeholder="End point..." />
            <br/>
            <button class="btn btn-primary">FIND ROUTE</button>
        </form>
    </section>
    <section class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8">
        <div class="row" ng-repeat="route in homeRoute.routes">
            <div>
                <label for="start-point">Start point: {{route.start}} </label>
            </div>

            <div>
                <label for="end-point">End point: {{route.end}}</label>
            </div>
            <button class="btn btn-danger" ng-click="homeRoute.removeRoute(route)">REMOVE ROUTE</button>
        </div>
    </section>
</article>